

@font-face {
  font-family: "coder";
  src: local("coder"),
    url(./assets/fonts/PressStart2P-Regular.woff) format("woff");
}

body {
  margin: 0;
  background-color: #02c692 !important;
  font-family:  "coder", "Roboto", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

